USE [TESTE_ESL_LOJA]
GO
/****** Object:  Table [dbo].[TB_CLIENTES]    Script Date: 23/10/2023 10:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ITENS_PEDIDO]    Script Date: 23/10/2023 10:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ITENS_PEDIDO](
	[IDITENS_PEDIDO] [int] NOT NULL,
	[IDPEDIDO] [int] NOT NULL,
	[IDPRODUTO] [int] NOT NULL,
	[QTDE] [decimal](10, 2) NOT NULL,
	[VALOR_UNITARIO] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDITENS_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PEDIDOS]    Script Date: 23/10/2023 10:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PEDIDOS](
	[IDPEDIDO] [int] NOT NULL,
	[DTVENDA] [date] NULL,
	[IDCLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PRODUTOS]    Script Date: 23/10/2023 10:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUTOS](
	[IDPRODUTO] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIOS]    Script Date: 23/10/2023 10:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIOS](
	[IDUSUARIO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
	[ATIVO] [int] NOT NULL,
	[DTCADASTRO] [date] NULL,
	[TIPO_PERFIL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_CLIENTES] ([IDCLIENTE], [DESCRICAO]) VALUES (1, N'C_Cliente produto 001')
INSERT [dbo].[TB_CLIENTES] ([IDCLIENTE], [DESCRICAO]) VALUES (2, N'A_Cliente produto 002')
INSERT [dbo].[TB_CLIENTES] ([IDCLIENTE], [DESCRICAO]) VALUES (3, N'B_Cliente produto 003')
GO
INSERT [dbo].[TB_ITENS_PEDIDO] ([IDITENS_PEDIDO], [IDPEDIDO], [IDPRODUTO], [QTDE], [VALOR_UNITARIO]) VALUES (1, 1, 1, CAST(5.50 AS Decimal(10, 2)), CAST(10.50 AS Decimal(10, 2)))
INSERT [dbo].[TB_ITENS_PEDIDO] ([IDITENS_PEDIDO], [IDPEDIDO], [IDPRODUTO], [QTDE], [VALOR_UNITARIO]) VALUES (2, 2, 2, CAST(4.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[TB_ITENS_PEDIDO] ([IDITENS_PEDIDO], [IDPEDIDO], [IDPRODUTO], [QTDE], [VALOR_UNITARIO]) VALUES (4, 2, 3, CAST(5.00 AS Decimal(10, 2)), CAST(45.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[TB_PEDIDOS] ([IDPEDIDO], [DTVENDA], [IDCLIENTE]) VALUES (1, CAST(N'2023-05-15' AS Date), 1)
INSERT [dbo].[TB_PEDIDOS] ([IDPEDIDO], [DTVENDA], [IDCLIENTE]) VALUES (2, CAST(N'2023-09-22' AS Date), 0)
INSERT [dbo].[TB_PEDIDOS] ([IDPEDIDO], [DTVENDA], [IDCLIENTE]) VALUES (3, CAST(N'2023-09-22' AS Date), 3)
GO
INSERT [dbo].[TB_PRODUTOS] ([IDPRODUTO], [DESCRICAO]) VALUES (1, N'C_Descricao produto 001')
INSERT [dbo].[TB_PRODUTOS] ([IDPRODUTO], [DESCRICAO]) VALUES (2, N'A_Descricao produto 002')
INSERT [dbo].[TB_PRODUTOS] ([IDPRODUTO], [DESCRICAO]) VALUES (3, N'B_Descricao produto 003')
GO
INSERT [dbo].[TB_USUARIOS] ([IDUSUARIO], [NOME], [SENHA], [ATIVO], [DTCADASTRO], [TIPO_PERFIL]) VALUES (9999, N'Supervisor', N'0123456789', 0, CAST(N'2023-05-15' AS Date), 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_D_CLIENTES]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_D_CLIENTES](@PIDCLIENTE INT)
As
BEGIN
        
        DELETE FROM TB_CLIENTES 
        WHERE IDCLIENTE = @PIDCLIENTE;
         
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_D_ITENS_PEDIDO]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_D_ITENS_PEDIDO](@PIDITENSPEDIDO INT, @PIDPEDIDO INT)
AS
BEGIN
    
        IF(@PIDITENSPEDIDO = 0) 
           DELETE FROM TB_ITENS_PEDIDO 
          WHERE IDPEDIDO = @PIDPEDIDO;         
       
        IF(@PIDITENSPEDIDO <> 0)
          DELETE FROM TB_ITENS_PEDIDO 
          WHERE IDITENS_PEDIDO = @PIDITENSPEDIDO
          AND IDPEDIDO = @PIDPEDIDO;
    
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_D_PEDIDOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_D_PEDIDOS](@PIDPEDIDO INT)
AS
BEGIN
    
        DELETE FROM TB_ITENS_PEDIDO 
        WHERE IDPEDIDO = @PIDPEDIDO;
 
    
        DELETE FROM TB_PEDIDOS 
        WHERE IDPEDIDO = @PIDPEDIDO;
         
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_D_PRODUTOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_D_PRODUTOS](@PIDPRODUTO INT)
AS
BEGIN
        
        DELETE FROM TB_PRODUTOS 
        WHERE IDPRODUTO = @PIDPRODUTO;
         
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_I_CLIENTES]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_I_CLIENTES](@PIDCLIENTE INT, @PDESCRICAO VARCHAR(100))
AS
BEGIN
        
       INSERT INTO TB_CLIENTES 
       (IDCLIENTE, DESCRICAO)
       VALUES 
       (@PIDCLIENTE , @PDESCRICAO);
       
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_I_ITENS_PEDIDO]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_I_ITENS_PEDIDO](@PIDITENS_PEDIDO INT, @PIDPEDIDO INT, @PIDPRODUTO INT, @PQTDE DEC, @PVALOR_UNITARIO DEC)
AS
BEGIN
        
       INSERT INTO TB_ITENS_PEDIDO 
       (IDITENS_PEDIDO, IDPEDIDO, IDPRODUTO, QTDE, VALOR_UNITARIO)
       VALUES 
       (@PIDITENS_PEDIDO, @PIDPEDIDO , @PIDPRODUTO, @PQTDE, @PVALOR_UNITARIO);
       
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_I_PEDIDOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LOJA_I_PEDIDOS](@PIDPEDIDO INT, @PDTVENDA DATETIME, @PIDCLIENTE INT)
AS
BEGIN
        
       INSERT INTO TB_PEDIDOS 
       (IDPEDIDO, DTVENDA, IDCLIENTE)
       VALUES 
       (@PIDPEDIDO , @PDTVENDA, @PIDCLIENTE);
       
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_I_PRODUTOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_I_PRODUTOS](@PIDPRODUTO INT, @PDESCRICAO VARCHAR(100))
AS
BEGIN
        
       INSERT INTO TB_PRODUTOS 
       (IDPRODUTO, DESCRICAO)
       VALUES 
       (@PIDPRODUTO , @PDESCRICAO);
       
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_N_CLIENTES]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_N_CLIENTES]
AS
BEGIN
        
        SELECT MAX( IDCLIENTE ) AS SEQUENCIAL FROM TB_CLIENTES;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_N_ITENS_PEDIDO]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_N_ITENS_PEDIDO]
AS
BEGIN
        
        SELECT MAX( IDITENS_PEDIDO ) AS SEQUENCIAL FROM TB_ITENS_PEDIDO;

END 
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_N_PEDIDOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LOJA_N_PEDIDOS]
AS
BEGIN
        
    SELECT MAX( IDPEDIDO ) AS SEQUENCIAL FROM TB_PEDIDOS;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_N_PRODUTOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_N_PRODUTOS]
AS
BEGIN
        
        SELECT MAX( IDPRODUTO ) AS SEQUENCIAL FROM TB_PRODUTOS;

END 

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_S_CLIENTES]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_S_CLIENTES](@PIDCLIENTE INT)
AS
BEGIN
        
        IF(@PIDCLIENTE = 0)            
          SELECT IDCLIENTE, DESCRICAO 		   
          FROM TB_CLIENTES      		           
          ORDER BY IDCLIENTE;
        
        IF(@PIDCLIENTE <> 0)           
          SELECT IDCLIENTE, DESCRICAO 		          
          FROM TB_CLIENTES      		          
          WHERE IDCLIENTE = @PIDCLIENTE;         

END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_S_ITENS_PEDIDO]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_S_ITENS_PEDIDO](@PIDPEDIDO INT)
AS
BEGIN
        
        IF(@PIDPEDIDO = 0)          
          SELECT IDITENS_PEDIDO, TB_PEDIDOS.IDPEDIDO, TB_PRODUTOS.IDPRODUTO, TB_PRODUTOS.DESCRICAO AS PRODUTO, QTDE, VALOR_UNITARIO 
          FROM TB_ITENS_PEDIDO 
		  INNER JOIN TB_PEDIDOS (NOLOCK) ON TB_ITENS_PEDIDO.IDPEDIDO = TB_PEDIDOS.IDPEDIDO
		  INNER JOIN TB_PRODUTOS (NOLOCK) ON TB_ITENS_PEDIDO.IDPRODUTO = TB_PRODUTOS.IDPRODUTO
          ORDER BY IDITENS_PEDIDO;        
        
        IF(@PIDPEDIDO <> 0)
          SELECT IDITENS_PEDIDO, TB_PEDIDOS.IDPEDIDO, TB_PRODUTOS.IDPRODUTO, TB_PRODUTOS.DESCRICAO AS PRODUTO, QTDE, VALOR_UNITARIO 
          FROM TB_ITENS_PEDIDO 
		  INNER JOIN TB_PEDIDOS (NOLOCK) ON TB_ITENS_PEDIDO.IDPEDIDO = TB_PEDIDOS.IDPEDIDO
		  INNER JOIN TB_PRODUTOS (NOLOCK) ON TB_ITENS_PEDIDO.IDPRODUTO = TB_PRODUTOS.IDPRODUTO
          WHERE TB_ITENS_PEDIDO.IDPEDIDO = @PIDPEDIDO              		           
		  ORDER BY IDITENS_PEDIDO;
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_S_PEDIDOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LOJA_S_PEDIDOS](@PIDPEDIDO INT)
AS
BEGIN
        
        IF(@PIDPEDIDO = 0)            
          SELECT IDPEDIDO, DTVENDA, TB_PEDIDOS.IDCLIENTE, DESCRICAO AS CLIENTE		           
          FROM TB_PEDIDOS
          INNER JOIN TB_CLIENTES (NOLOCK) ON TB_PEDIDOS.IDCLIENTE = TB_CLIENTES.IDCLIENTE
          ORDER BY IDPEDIDO;
        
        IF(@PIDPEDIDO <> 0)           
          SELECT IDPEDIDO, DTVENDA, TB_PEDIDOS.IDCLIENTE, DESCRICAO AS CLIENTE		           
          FROM TB_PEDIDOS 
          INNER JOIN TB_CLIENTES (NOLOCK) ON TB_PEDIDOS.IDCLIENTE = TB_CLIENTES.IDCLIENTE
          WHERE IDPEDIDO = @PIDPEDIDO;          

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_S_PRODUTOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_S_PRODUTOS](@PIDPRODUTO INT)
AS
BEGIN
        
        IF(@PIDPRODUTO = 0)
          SELECT IDPRODUTO, DESCRICAO 		
          FROM TB_PRODUTOS      		
          ORDER BY IDPRODUTO;
        
        IF(@PIDPRODUTO <> 0) 
          SELECT IDPRODUTO, DESCRICAO 		
          FROM TB_PRODUTOS      		
          WHERE IDPRODUTO = @PIDPRODUTO;
 
END 

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_S_USUARIOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_S_USUARIOS](@PIDUSUARIO INT)
AS

BEGIN
	
	SELECT IDUSUARIO, NOME, SENHA, ATIVO, DTCADASTRO, TIPO_PERFIL
    
	FROM TB_USUARIOS 
    
	WHERE IDUSUARIO = @PIDUSUARIO;

END 


GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_U_CLIENTES]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_U_CLIENTES](@PIDCLIENTE INT, @PDESCRICAO VARCHAR(100))
AS
BEGIN
        
    UPDATE TB_CLIENTES SET
           IDCLIENTE = @PIDCLIENTE,
           DESCRICAO = @PDESCRICAO
     WHERE IDCLIENTE = @PIDCLIENTE;        
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_U_PEDIDOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_LOJA_U_PEDIDOS](@PIDPEDIDO INT, @PDTVENDA DATETIME, @PIDCLIENTE INT)
AS
BEGIN
    
        UPDATE TB_PEDIDOS SET           
        IDPEDIDO = @PIDPEDIDO,
        DTVENDA = @PDTVENDA,           
        IDCLIENTE = @PIDCLIENTE
        WHERE IDPEDIDO = @PIDPEDIDO;        

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOJA_U_PRODUTOS]    Script Date: 23/10/2023 10:34:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LOJA_U_PRODUTOS](@PIDPRODUTO INT, @PDESCRICAO VARCHAR(100))
AS
BEGIN
        
    UPDATE TB_PRODUTOS SET
           IDPRODUTO = @PIDPRODUTO,
           DESCRICAO = @PDESCRICAO
     WHERE IDPRODUTO = @PIDPRODUTO;        
END

GO
